@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    height: 100%;
    min-width: 320px;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    width: 100%;
}

p{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

svg {
    cursor: pointer;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 0;
    font-family: "Dosis", sans-serif;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}


h3 { 
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

input {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    &::placeholder {
        color: #021121;
        font-weight: 600;
    }
    @media (max-width: 800px) {
        text-align: center;
    }
}

button {
    border-radius: 16px;
    border: 0.5px solid #E6E6E6;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    background-color: #021121;
    color: #FFFFFF;
    transition: border-color 0.25s;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: #F0F5F9;
    color: #021121;
}

select {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 16px;
    border: 0.5px solid #E6E6E6;
    background-color: #F0F5F9;
    padding: 10px 15px;
}